
*{
	image-rendering: crisp-edges;
}

  body {
  font-family:times new roman;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: #1A375B;
  background-repeat: no-repeat;
  background-size: 100%;
  position: center;
  overflow-x: hidden;
}

.topnav {
  background-color: #3A50BB;
  overflow: hidden;
}


.topnav div {
  margin: 0;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #3A50BB;
}

.footer div {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.footer p {
 color: #FFFFFF
}

.content {
    background-color: #FAFAFA;
    padding: 10px;
    font-size: 15px;
}

.center {
  text-align: center;
  position: center;
}

.generate {
    background-color: #3A50BB;
    width: 80%;
    height: 40px;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
}

.generate:hover {
 background-color: #000786;
}

#missionbutton {
  background-color: #FAFAFA;
  border-radius: 15px;
  border: none !important;
}

#missionbutton:hover {
  background-color: #A6A6A6; 
}

.loadingbar{
  text-align: center;
  animation: spin 2s infinite linear;
}


@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
